<h1>Edit Product <%= @product.title %></h1>

<p>
  <%= form_for :product, url: {:action => 'edit'} do |f| %>
    <%= f.label :title, 'Title' %>:<br>
    <%= f.text_field 'title' %><br><br>
    <%= f.label :description, 'Description' %>:<br>
    <%= f.text_field 'description' %><br><br>
    <%= f.submit "Save" %>
  <% end %>
</p>

<%= link_to 'Back', :action => nil %>