<h1>New Product</h1>

<p>
  <%= form_for :product, url: {:action => 'create'} do |f| %>
    <%= f.label :title, 'Title' %>
    <%= f.text_field 'title' %><br>
    <%= f.label :description, 'Description' %>
    <%= f.text_field 'description' %><br>
    <%= f.submit "Create" %>
  <% end %>
</p>


<%= link_to 'Back', :action => nil %>