<h1><%= h @product.title %></h1>
<p><strong>Description:</strong> <br><%= @product.description %></p>
<p><strong>Product created:</strong> <br><i><%= time_ago_in_words(@product.created_at) %> ago</i>.</p>

<%= link_to 'Edit', :action => 'edit', :id => @product.id %> |
<%= link_to 'Back', :action => nil %>